* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  line-height: 100%;
  letter-spacing: 0%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

 h1 {
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  margin-top: 44px;
}

 .mail {
  font-weight: 700;
  font-size: 18px;
  color: #0047ff;
  text-decoration: none;
  display: block;
  margin-top: 11px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid;
  font-size: 14px;
}

th {
  color: #7a7a7a;
  font-weight: 600;
  font-size: 13px;
}

td {
  color: #333;
}

td:first-child {
  color: #444;
}
