@import url(./fonts.css);
@import url(./default.css);

main {
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

.wallets {
  margin: 21px 0 21px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.card {
  width: 300px;
  height: 180px;
  border-radius: 16px;
  background: linear-gradient(135deg, #6a00b6, #c25ea9);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .logo {
  font-size: 22px;
}

.card .card-currency {
  font-size: 14px;
  align-self: flex-start;
}

.btn1 {
  width: 438px;
  height: 56px;
  border: none;
  border-radius: 10px;
  background-color: #0047ff;
  font-family: "Gilroy";
  font-weight: 600;
  font-style: Semibold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.btn1:hover {
  color: #fff;
  background-color: #060761;
  transition: 0.3s;
}

main a {
  font-family: "Gilroy";
  font-weight: 600;
  font-style: Semibold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}
